langchain
langchain-google-genai
langchain-ollama
langchain-groq
langchain-tavily
langgraph
langchain-core
typing
chromadb
pandas
fastapi
uvicorn
pydantic
dotenv
pymupdf
starlette
frontend
jinja2
python-multipart
