<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>

    <div class="login-container">

        <div class="logo">
            Abdullah GPT Login
        </div>

        <form action="/login" method="post">
            <div id="email">
                <input type="email" name="email" placeholder="Email Address" required>
            </div>
            <div id="password">
                <input id="pass" type="password" name="password" placeholder="Password" required>
                <img id="img" src="static/open-eye.png">
            </div>

            <button type="submit">
                Login
            </button>
        </form>
        <div class="footer">
            Do not have an account?
            <a href="/register">Create account</a>
        </div>

    </div>
    <script src="static/eye-animation.js"></script>
</body>

</html>
